@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Orbitron:wght@900&display=swap');
html{
    scroll-behavior: smooth
}

body{
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Kanit', sans-serif;
}
a{
    text-decoration: none;
}
.main-body{
    margin-top: 9rem;
    box-shadow: 0.5px 0.5px 3px 3px #26262660;
    background-color:#ffffffc3;
    border-radius: 6px;
}

.title h1{
    font-size: 3rem;
}

.button{
    font-size: 1.29rem;
}

/* ADMIN HOME */
.admin_sections{
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Black Ops One', cursive;
    font-family: 'Orbitron', sans-serif;
}
.profile_nav{
    position: fixed;
}
.admin_table td,th{
    vertical-align: middle;
}
.admin-nav{
    box-shadow: 1px 2px 2px rgb(195, 195, 195);
}




/* Register sucessfull Message  */
.sucess_message{
    font-size: 20px;
}

/* User Search */
.User-Search{
    font-size: 25px;
    border: 1px solid #0879e4;
    background-color: #0879e4;
}
/* User Home */
.user-home-head{
    font-family: 'Black Ops One', cursive;
    /* font-family: 'Black Ops One', cursive;
    font-family: 'Orbitron', sans-serif; */
}
.home-nav{
    /* font-family: 'Black Ops One', cursive; */
    font-family: 'Black Ops One', cursive;
    font-family: 'Orbitron', sans-serif;
    /* background-attachment: scroll; */
}


/* Vallidation  */
#validateUsername,#validatePassword{
    font-size: 0.9em ;
}
.userReg p{
    font-size: 0.89em ;
}