@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500&display=swap');
body{
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Kanit', sans-serif;
}
a{
    text-decoration: none;
}
.main-body{
    margin-top: 9rem;
    box-shadow: 0.5px 0.5px 3px 3px #26262660;
    background-color:#ffffffc3;
    border-radius: 6px;
}

.title h1{
    font-size: 3rem;
}

.button{
    font-size: 1.29rem;
}

/* ADMIN HOME */
.admin_sections{
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile_nav{
    position: fixed;
}
.admin_table td,th{
    vertical-align: middle;
}